<h1 class="heading"><strong>HTTP </strong>Demo</h1>
 
<!--
<div class="form-group">
  <label for="userName">GitHub User Name</label>
  <input type="text" class="form-control" name="userName" [(ngModel)]="userName">
</div>
 -->

<div class="form-group">
  <button type="button" (click)="getAllPokemon()">Get All Pokemon</button>
</div>
 
<div *ngIf="loadingSW">loading...</div>
 
<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>
 
 
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type 1</th>
      <th>Type 2</th>
      <th>Generation</th>
      <th>Sprite Image Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemonList; let i = index">
      <td>{{pokemonList[i].Id}}</td>
      <td>{{pokemonList[i].Name}}</td>
      <td>{{pokemonList[i].Type1}}</td>
      <td>{{pokemonList[i].Type2}}</td>
      <td>{{pokemonList[i].Generation}}</td>
      <td> <img src="{{pokemonList[i].Imx_location}}" alt="unable to reach image's url"/></td>
    </tr>
  </tbody>
</table>
 
