<h1 class="heading"><strong>Get </strong>All Pokemon</h1>
 
<!--
<div class="form-group">
  <label for="userName">GitHub User Name</label>
  <input type="text" class="form-control" name="userName" [(ngModel)]="userName">
</div>
 -->

<div class="form-group">
  <button type="button" (click)="getAllPokemon()">Get All Pokemon</button>
  <button type="button" (click)="resetTable()">Reset Table</button>
</div>
 
<div *ngIf="loadingSW">loading...</div>

<table class='table'>
  <thead>
    <tr>
      <th>Pokedex #</th>
      <th>Database ID</th>
      <th>Name</th>
      <th>Type 1</th>
      <th>Type 2</th>
      <th>Generation</th>
      <th>Sprite Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemonList; let i = index">
      <td>{{pokemonList[i].PokedexId}}</td>
      <td>{{pokemonList[i].DatabaseId}}</td>
      <td>{{pokemonList[i].Name}}</td>
      <td>{{pokemonList[i].Type1}}</td>
      <td>{{pokemonList[i].Type2}}</td>
      <td>{{pokemonList[i].Generation}}</td>
      <td> <img src="{{pokemonList[i].Imx_location}}" alt="unable to reach image's url"/></td>
    </tr>
  </tbody>
</table>

<br>
<br>
<hr>
<br>
<h1>Get pokemon by Database ID</h1>


<div class="form-group">
  <label for="pokemonId">Pokemon Database ID: </label>
  <input id="pokemonId" type="number" [formControl]="pokemonId">
  <button type="button" (click)="getPokemonById()">Search</button>
  <button type="button" (click)="resetTable()">Reset Table</button>
</div>
 
<div *ngIf="loadingSW">loading...</div>

 
<table class='table'>
  <thead>
    <tr>
      <th>Database ID</th>
      <th>Name</th>
      <th>Type 1</th>
      <th>Type 2</th>
      <th>Generation</th>
      <th>Sprite Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="isThereAPokemon">
      <td>{{pokemon.DatabaseId}}</td>
      <td>{{pokemon.Name}}</td>
      <td>{{pokemon.Type1}}</td>
      <td>{{pokemon.Type2}}</td>
      <td>{{pokemon.Generation}}</td>
      <td> <img src="{{pokemon.Imx_location}}" alt="unable to reach image's url"/></td>
    </tr>
  </tbody>
</table>


<br>
<br>
<hr>
<br>
<h1>Insert new pokemon</h1>


<div class="form-group">
  <label for="pokemonId">New Pokemon Pokedex ID : </label>
  <input id="pokemonId" type="number" [formControl]="pokemonId">
  <br>
  <label for="pokemonName">New Pokemon Name : </label>
  <input id="pokemonName" type="text" [formControl]="pokemonName">
  <br>
  <label for="pokemonType1">New Pokemon Type 1 : </label>
  <input id="pokemonType1" type="text" [formControl]="pokemonType1">
  <br>
  <label for="pokemonType2">New Pokemon Type 2 : </label>
  <input id="pokemonType1" type="text" [formControl]="pokemonType2">
  <br>
  <label for="pokemonGeneration">New Pokemon Generation : </label>
  <input id="pokemonGeneration" type="number" [formControl]="pokemonGeneration">
  <br>
  <label for="imx_location">New Pokemon Sprite : </label>
  <input id="imx_location" type="text" [formControl]="imx_location">
  <br>
  <br>

  <button type="button" (click)="createPokemon()">Insert Pokemon</button>
  <!--
  <button type="button" (click)="resetTable()">Reset Table</button>
  -->
</div>
 
<div *ngIf="loadingSW">loading...</div>

 
<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>